<template>
    <div class="events_main_template">
        <div class="event" >
            <div class="container3">

              <img src="@/assets/temp/congress.png"
               alt="Descrip"
               class="img_descr"
               id="showModal" @click="showModal = true">
                <h2 class="h2_descr">{{ item.title }}</h2>
            </div>

          </div>
           <Modal v-if="showModal" @close="showModal = false" :item="item"/>
    </div>
</template>

<script>
import Modal from "@/components/Modal.vue"
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  components: {
    Modal
  },
  data(){
    return{
      showModal: false,
    }
  }


}
</script>

<style lang="scss" >
@import "@/assets/styles.scss";

.event{
  width: size(580, 1920);
  height: size(390, 1920);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: size(60, 1920);
  
   @media (max-width: 756px){
    align-items: center !important;
    width: size(756, 756);
    height: size(450, 756);
    margin-bottom: size(60, 756);
  }
}

.img_descr{
  cursor: pointer;
  width: size(540, 1920);
  @media (max-width:756px){
    width: size(600, 756);
  }
}

.h2_descr{
  margin-left: 0.6vw;
  font-size: size(36, 1920);
  font-weight: 700;
  font-family: 'Montserrat', sans-serif ;
  @media (max-width:756px){
    font-size: size(36, 756);
    display:flex;
    justify-content: center;
  }
}

@media screen and (max-width: 756px) {
    .events_main_template{
      display: block; 
  }
}



</style>
