<template>
    <div class="item">
        <h2 class="email">
            {{ feed.mail }}
        </h2>
        <p class="item_descr">
            {{ feed.body }}
        </p>
    </div>
</template>

<script>
export default {
    props: {
      feed: {
        type: Object
      }
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles.scss";

    .item{
        font-family: "Montserrat", sans-serif;
        width: size(510, 1920) !important;
        height: size(232, 1920);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin-top: 2vw;
        padding: 1vw;
        @media (max-width: 756px) {
          width: 100% !important;
          margin: auto;
          margin-top: size(40, 756);
          height: size(250  , 756);
        }
    }

    .email{
        margin-bottom: 2vw;
        font-size: size(24, 1920);
        @media (max-width: 756px) {
          font-size: size(30, 756);
        }
    }    

    .item_descr{
        color: #ACACAC;
        font-size: size(24, 1920);
        @media (max-width: 756px) {
          font-size: size(25, 756);
        }
    }
</style>