<template>
  <div>
    <div class="main">
      <Header />
        <div class="container">
          <div class="main__block">
            <span class="block__title">LipEvent</span>
            <p class="block__text">
              Места и события Липецка на которых Вы можете побывать вместе со своей семьей или друзьями</p>
            <router-link to="/events">
              <button class="block__button">
                Купить билет'
              </button>
            </router-link>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
export default {
  name: "MainPage",
  components:{Header}
}
</script>

<style scoped lang="scss">
@import "src/assets/functions";
.main{
  background: url("../../assets/temp/fon.png");
  object-fit: cover;
  height: size(1070, 1920);
  background-size: 100%;

}
.block__text,.block__title{
  color:white;
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: size(1500, 1920);
  margin: auto;
  @media (max-width: 756px){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main__block{
  width: size(480, 1920);  display: flex;
  flex-direction: column;
  margin-top: size(306, 1920);
  @media (max-width: 756px) {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: size(30, 756);
  }
}
.block__title {
  font-size: size(65, 1920);
  font-weight: 800;
  margin-bottom: size(44, 1920);
  @media (max-width: 756px) {
    color: black;
    font-size: size(53, 756);
    text-align: center;
  }
}
.block__text{
  font-size: size(24, 1920);
  margin-bottom: size(86, 1920);
  width: size(410, 1920);
  @media (max-width: 756px) {
    color: black;
    text-align: center;
    font-size: size(28, 756);
    width: 100% ;
    margin-top: size(25, 756);
  }
}
.block__button {
  width: size(210, 1920);
  height: size(60, 1920);
  background: #0099FF;
  box-sizing: border-box;
  border-radius: 0;
  border: 0;
  color:white;
  font-size: size(22, 1920);
  transition: .1s linear;
  &:hover{
    font-size: size(23, 1920);
    transition: .1s linear;
  }
  &:active{
    opacity: 80%;
  }
  @media (max-width: 756px) {
    width: size(530, 756);
    height: size(60, 756);
    font-size: size(37, 756);
    transition: .15s linear;
  }
}
.block__button:active{
  box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset;
}
//!!!media!!!
@media (max-width: 756px){
  .main{
    background: none;
  }
}
</style>