<template>
    <transition name="modal"  >
        <div class="modal_mask">
          <div class="modal_wrapper">
            <div class="modal_container">
                <div class="close_container">
                    <h2 class="your_contacts">
                        Отзывы
                    </h2>
                    <div class="close" @click="$emit('close')">
                        X
                    </div>
                </div>
                <div class="modal_content" scrolling="yes">
                  <FeedbackItem v-for="feed in feedback.data" :feed="feed"/>
                  

                </div>
            </div>
          </div>
        </div>
      </transition>
</template>

<script>
import FeedbackItem from "@/components/MainPageComponents/FeedbackItem"
export default {
  created() {
    console.log(this.$store.getters)
    this.$store.dispatch('feedback/getAll') // dispatch - что то типа асинхронного метода (мутации)
    // она ВЫЗЫВАЕТ ЗАПРОС getAll, который уже передает данные в мутации,
    // а мутации записывают данные из запроса в actions
  },

  computed: {
    feedback() {
      return this.$store.getters['feedback/getFeedback'] // а эта штука уже ВЫЗЫВАЕТ ГЕТТЕР getPosts,
      // который УЖЕ НАПОЛНЕННЫЕ перемнные перкидывает сюда в компонент и записывает в posts
    }
  },
  components: {
    FeedbackItem
  }
}

</script>

<style lang="scss" scoped>
@import "@/assets/styles.scss";

.modal_mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal_wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal_container {
    width: size(1800, 1920);
    height: size(850, 1920);
  margin: 0px auto;
  padding: size(31, 1920) size(71, 1920) size(66, 1920) size(71, 1920);
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family:  "Montserrat",sans-serif;
  overflow-y: scroll;
  @media (max-width: 756px){
    width: size(700, 756);
    height: size(950, 756);
  }
  @media (max-width: 480px){
    width: size(450, 480);
    height: size(800, 480);
  }
}

.modal_header{
    text-align: center;
    position: relative;
}

.close_container{
    display: flex;
    justify-content: space-between;
}

.close{
    cursor: pointer;
    font-size: size(43, 1920);
  @media (max-width: 756px) {
    font-size: size(43, 756);
  }
}

.header_h2_modal{
    font-weight: 700;
    font-size: size(36, 1920);
}

.modal_body {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.img_modal{
    width: size(400, 1920);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    
}

.inputs_modal_div{
    display: flex;
    flex-direction: column;
}

.input_modal{
    width: size(390, 1920);
    height: size(50, 1920);
    border-radius: 0.3vw;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: size(25, 1920);
    font-size: size(25, 1920);
    padding-left: size(10, 1920);
}

.adress{
    font-size: size(24, 1920)
}

.modal_default-button {
    float: right;
    width: size(180, 1920);
    height: size(50, 1920);
    text-decoration: none;
    font-size: size(24, 1920);
    outline: none;
    background-color: #0099FF;
    padding: 0;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.modal_enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_enter .modal_container,
.modal_leave-active .modal_container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.your_contacts{
  font-size: size(43, 1920);
  @media (max-width: 756px) {
    font-size: size(43, 756);
    text-align: center;
  }
}

.modal_content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap ;
  @media(max-width: 756px) {
   flex-direction: column;

    flex-wrap: wrap !important;
  }
}
</style>

