<template>
  <div class="events">
    <section class="section_with_input">
      <Header />
      <div class="container">
        <div class="container">
          <div class="content__wrapper">
            <input type="text" class="input_find" placeholder="Поиск..." title="Поиск нужного вам мероприятия">
            <button class="btn_find">
              <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.9099 27.8436L20.1712 18.1049C21.6824 16.1512 22.4999 13.7624 22.4999 11.25C22.4999 8.24246 21.3262 5.42248 19.2037 3.29624C17.0812 1.16999 14.2537 0 11.25 0C8.24621 0 5.41873 1.17374 3.29624 3.29624C1.16999 5.41873 0 8.24246 0 11.25C0 14.2537 1.17374 17.0812 3.29624 19.2037C5.41873 21.3299 8.24246 22.4999 11.25 22.4999C13.7624 22.4999 16.1474 21.6824 18.1012 20.1749L27.8399 29.9099C27.8684 29.9384 27.9023 29.9611 27.9397 29.9766C27.977 29.992 28.017 30 28.0574 30C28.0978 30 28.1378 29.992 28.1751 29.9766C28.2124 29.9611 28.2463 29.9384 28.2749 29.9099L29.9099 28.2786C29.9384 28.2501 29.9611 28.2162 29.9766 28.1788C29.992 28.1415 30 28.1015 30 28.0611C30 28.0207 29.992 27.9807 29.9766 27.9434C29.9611 27.9061 29.9384 27.8722 29.9099 27.8436ZM17.1899 17.1899C15.5999 18.7762 13.4924 19.6499 11.25 19.6499C9.00746 19.6499 6.89997 18.7762 5.30998 17.1899C3.72373 15.5999 2.84999 13.4924 2.84999 11.25C2.84999 9.00746 3.72373 6.89622 5.30998 5.30998C6.89997 3.72373 9.00746 2.84999 11.25 2.84999C13.4924 2.84999 15.6037 3.71998 17.1899 5.30998C18.7762 6.89997 19.6499 9.00746 19.6499 11.25C19.6499 13.4924 18.7762 15.6037 17.1899 17.1899Z" fill="white"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="section_events">
      <div class="container2">
        <div class="categories">
          <div class="categories_main">
            <div class="description_categories">
              <h2 class="h2__categories">
                Вид
              </h2>
              <div class="square_and_p">
                <input type="checkbox" class="square">
                <p class="square_and_p_p">Сдвиги</p>
              </div>
            </div>
            <div class="description_categories">
              <div class="square_and_p">
                <input type="checkbox" class="square">
                <p class="square_and_p_p">Предпочтения</p>
              </div>
            </div>
            <div class="description_categories">
              <div class="square_and_p">
                <input type="checkbox" class="square">
                <p class="square_and_p_p">Сдвиги</p>
              </div>
              <h2 class="h2__categories jobs">
                Деятельность
              </h2>
              <div class="square_and_p">
                <input type="checkbox" class="square">
                <p class="square_and_p_p">Культура</p>
              </div>
              <div class="square_and_p">
                <input type="checkbox" class="square">
                <p class="square_and_p_p">Шоу</p>
              </div>
            </div>
            <div class="categories_filter"><button class="filter__button">Применить фильтр</button></div>
            <div class="categories_random"><p class="random__test">Случайное мероприятие</p></div>
          </div>
          <div class="ad">
          </div>
        </div>
        <div class="events_main" >
          <TemplateWithModal v-for="item in posts.data" :item="item"/>

        </div>
      </div>
    </section>
    <Footer />
  </div>
</template>

<script>
import Header from "../components/Header";
import Footer from "../components/Footer";
import TemplateWithModal from "../components/EventsPageComponents/TemplateWithModal"

export default {
  data(){
    return{
      dat: {},
    }
  },
  name: "EventsPage",
  components: {Header, Footer, TemplateWithModal},
  created() {
    this.$store.dispatch('categor/getAll') // dispatch - что то типа асинхронного метода (мутации)
    // она ВЫЗЫВАЕТ ЗАПРОС getAll, который уже передает данные в мутации,
    // а мутации записывают данные из запроса в actions
  },

  computed: {
    posts() {
      return this.$store.getters['categor/getAllCategor'] // а эта штука уже ВЫЗЫВАЕТ ГЕТТЕР getPosts,
      // который УЖЕ НАПОЛНЕННЫЕ перемнные перкидывает сюда в компонент и записывает в posts
    }
  }
}
  // ПЕРВЫМ вызывается created, пинает запрос, все записывается в переменные, а уже
  // заполненеы перменные кидаются к нам в computed
  // ВТОРЫМ вызывается компьютед


</script>

<style lang="scss" scoped>
@import "@/assets/styles.scss";

@media screen and (max-width: 756px) {
  .container2{
    .events_main{
      display: block;
    }
  }
}

.container {
  width: size(1500, 1920);
  margin: auto;
  @media (max-width: 756px){
    width: 100%;
  }
}
ul,li,a {
  text-decoration: none;
  font-size: size(24, 1920);
  color:white;
  font-family: 'Roboto', sans-serif;
}
li {
  margin-left: size(100, 1920)
}
ul{
  display: flex;
  justify-content: center;
}
.header{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: size(25, 1920);
}


.content-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav{
  display: flex;
  justify-content: end;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: size(888, 1920);
    margin-top: size(50, 1920);

    height: 2px;
    background-color: #18A0FB;

  }
  @media (max-width: 756px) {
    display: none;
  }
}


//!!!media!!!
@media (max-width: 756px){
  ul,li,a{
    display:none;
  }
  .header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: #18A0FB;
    min-height: size(70, 756);
  }
  .logo__img {
    width: size(50, 756);
    height: size(50, 756);
    margin-left: size(100, 756);
  }

  .nav__container{
    width: size(960, 756);
    margin-left: auto;
  }
  .header__nav{
    border-bottom: 2px solid #18A0FB;
    height: size(62, 756);
  }

  .header__logo{
    img{
      margin-left: 20px;
      @media (max-width: 756px) {
        display: none;
      }
    }
  }
}

.container{
  width: size(1500, 1920);
  margin: 0 auto;
}

header{
  display: flex;
  float: right;
  height: size(33, 1920);
  margin-top: size(27, 1920);
  width: 100%;
  align-items: center;
  justify-content: space-between;
}


.menu{
  height: size(40, 1920);
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 70vw;
    margin-top: 1vw;
    height: 0.2vw;
    background-color: #18A0FB;
  }
}

.header__navs_main{
  margin-left: size(200, 1920);
}

.header__navs_events{
  margin-left: size(180, 1920);
  margin-right: size(180, 1920);
}


.header__navs{
  font-family: $roboto;
  font-size: size(20, 1920);
}

.content__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: size(500, 1920) !important;
  @media (max-width:756px){
    height: size(100, 756) !important;
    width: 100%  !important;
    align-items: flex-start;
  }
}

.input_find{
  margin-top: size(400, 1920);
  height: size(50, 1920);
  width: size(570, 1920);
  background-color: rgba(150, 150, 150, 0.7);
  border: none;
  outline: none;
  color:white;
  border-radius: 0.7vw;
  padding-left: 10px;
  font-size: size(22, 1920);
    @media (max-width:756px){
    margin-top: size(20, 756);
    width: size(500, 756) !important;
    height: size(80, 756) !important;
    font-size: size(35, 756);
  }
  &::placeholder{
    color:#d6d6d6 !important;
  }
}

.btn_find{
  margin-top: size(400, 1920);
  background: #0099FF;
  border: none;
  border-radius: 0.7vw;
  height: size(50, 1920);
  width: size(100, 1920);
  margin-left: -5.2vw;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  cursor: pointer;

  
  svg{
    width: size(30, 1920);
    height: size(30, 1920);
    @media (max-width:756px){
      width: size(35, 756);
      height: size(35, 756);
      color:grey !important;
      margin-left: -0.3vw;
    }
  }
    @media (max-width:756px){
    margin-top:size(20,756);
    width: size(80, 756);
    height: size(80,756);
    margin-left: size(-60, 756)
  }
}

.lupa_img{
  width: size(30, 1920)
}

.logo img{
  width: size(35, 1920);
  height: size(35, 1920);
}

.section_with_input{
  background: url("../assets/temp/fon.png");
  object-fit: cover;
  height: size(1070, 1920);
  background-size: 100%;
  @media (max-width: 756px){
    background: none;
    height: size(190, 756);
    
  }
}

// section2

.section_events{
  margin-top: 3vw;
}

.h2__categories{
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #18A0FB;
  width: 95%;
  margin:0 auto;
  font-size: size(38, 1920);
  margin-bottom: size(40, 1920);
  @media (max-width:756px){
    font-size: size(40, 756);
    width: 95%;
    margin:0 auto;
    margin-bottom: size(20, 756);
    margin-top: size(20, 756);
  }
}

.jobs{
  margin-top: size(40, 1920);
}

.container2{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  @media (max-width: 756px){
    flex-direction: column !important;
    align-items: center !important;
    width: 100%;
  }
}

.event{
  width: size(580, 1920);
  height: size(390, 1920);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: size(60, 1920);
  
   @media (max-width: 756px){
    align-items: center !important;
    width: size(756, 756);
    height: size(450, 756);
    margin-bottom: size(60, 756);
  }
}


.events_main{
  display: flex;
  width: size(1280, 1920);
  justify-content: space-between;
  flex-wrap: wrap;
    @media (max-width: 756px){
    align-items: center !important;
    width: size(756, 756);
  }
}

.square_and_p{
  margin-top: size(10, 1920);
  margin-bottom: size(10, 1920);
  display: flex;
  align-items: center;
  width: 95%;
  margin:0 auto;
  @media (max-width: 756px){
    margin-bottom: size(13, 756);
  }

}

.culture{
  margin-top: size(10, 1920);
}

.square_and_p_p{
  font-family: "Montserrat", sans-serif;
  font-size: size(26, 1920);
      @media (max-width:756px){
    font-size: size(20, 756);
  }
}

.img_descr{
  width: size(540, 1920);
  @media (max-width:756px){
    width: size(600, 756);
  }
}

.h2_descr{
  margin-left: 0.6vw;
  font-size: size(36, 1920);
  font-weight: 700;
  font-family: 'Montserrat', sans-serif ;
  @media (max-width:756px){
    font-size: size(36, 756);
    display:flex;
    justify-content: center;
  }
}

.categories_main{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: size(360, 1920);
  height: size(920, 1920);
  padding: size(40, 1920);
  margin-bottom: size(50, 1920);
   @media (max-width:756px){
     width: size(756, 756) !important;
     margin-bottom: size(50, 756);
     height: size(690, 756) !important;
   }
}

.filter__button{
      text-decoration: none;
      width: size(277, 1920);
      height: size(72, 1920);
      margin-top: size(250, 1920);
      font-size: size(24, 1920);
      outline: none;
      background-color: #0099FF;
      padding: 0;
      border: none;
      color: white;
      font-weight: 600;
      cursor: pointer;
    @media (max-width:756px){
       width: size(277, 756);
      height: size(72, 756);
      margin-top: size(40, 756);
      font-size: size(24, 756);
    }
}

.categories_filter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.random__test{
  text-decoration: none;
  width: size(277, 1920);
  height: size(72, 1920);
  margin-top: size(50, 1920);
  font-size: size(23, 1920);
  outline: none;
  background-color: #0099FF;
  padding: 0;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  @media (max-width:756px){
    font-size: size(14, 756);
      margin: auto;
      margin-top: size(20, 756);
    width: size(277, 756);
    height: size(72, 756);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: size(23, 756);
  }
}


.square{
  width: size(33,1920);
  height:  size(33,1920);
  border-radius: 0.3vw;
  background-color: #18A0FB;
  margin-right: 1vw;

     @media (max-width:756px){
      width: size(33,756);
      height:  size(33,756);
  }
}

@media screen and (max-width: 756px) {
  .container2{
    .events_main{
      display: block;
    }
  }
}



</style>
