  <template>
  <div class="wrapper">
    <ModelFeedback v-if="showModal" @close="showModal = false" />
    <headerTopPage/>
    <main class="main">
      <div class="container">
        <section class="descr">
          <div class="top">
            <div class="logo">
              <img src="../assets/temp/logo__footer.png" alt="">
            </div>
            <div class="text__block">
              <p class="title">
                Наша команда
              </p>
              <p class="text">
                Наша команда состоит из специалистов разного профиля, что позволяет нам грамотно распределить и без труда справиться с поставленными задачами
              </p>
            </div>
          </div>
          <div class="img">
            <Slider />
          </div>
        </section>
        <section class="feedback">
          <div class="feedback__text">
            <p class="title">Что пишут <br> пользователи о нас</p>
            <p class="text">
              Наша компания завоевала доверия многих пользователей, которые не раз обращались к нам. Если Вы не уверены в своем выборе, то можете ознакомится с отзывами наших клиентов.
            </p>
            <a @click="showModal = true">
              Читать отзывы
            </a>
          </div>
          <div class="img">
            <img src="../assets/temp/girl 1.png" alt="">
          </div>
        </section>
        <form action="" class="form" @submit.prevent="submitForm()">
          <div class="form__items">
            <span class="form__title">Уже знакомы с нами?<br>
                Поделитесь впечатлениями</span>
            <p class="error__text" v-if="!$v.email.email">Некоректный email</p>
            <input type="text" placeholder="Email" class="mail" v-model="email" :class="{ error: !$v.email.email}" required>
            <textarea placeholder="Ваш комментарий" v-model="comment" :class="{ errorLength: !$v.comment.maxLength}"></textarea>
            <input type="submit" class="send__form" click="submitForm()" v-if="!sendFrom">
            <p v-if="sendFrom" class="send">Форма отправлена</p>
          </div>
        </form>
      </div>
    </main>
    <Footer />
  </div>
</template>

<script>
import Footer from "../components/Footer";

import headerTopPage from "../components/MainPageComponents/headerTopPage";

import Slider from "../components/Slider.vue";

import { required, minLength, maxLength,  email } from 'vuelidate/lib/validators';

import ModelFeedback from "../components/MainPageComponents/ModelFeedback.vue"

export default {
  name: "MainPage",
  data () {
    return {
      email: '',
      comment: '',
      sendFrom: false,
      showModal: false,
    }
  },

  validations: {
    email: {
      email,
      maxLength: maxLength(45)
    },
    comment: {
      maxLength: maxLength(1000)
    }
  },
  methods: {
    submitForm(){
      this.$store.dispatch('feedback/create', {
        email: this.email,
        body: this.comment
      })
      this.email = ''
      this.comment = ''
      this.sendFrom = true

    }
  },

  components: {
    Footer,
    headerTopPage, Slider, ModelFeedback

  }
}
</script>

<style scoped lang="scss">
@import "src/assets/styles.scss";
  .container {
    width: size(1500, 1920);
    margin: auto;
    @media (max-width: 756px){
      width: 100%;
    }
  }

// Slider

@import "@/assets/styles.scss";
.bm-cross {
  height: 30px !important;
  margin-left: 60vw;
}

.bm-burger-button{
  top: 4vw;
}

.error, .errorLength{
  border: 1px solid red;
}



.slider_burger{
  display: flex;
  flex-direction: column;
}

.btn {
  padding:0.3vw 0.5vw;
  border:0.2vw solid transparent;
  margin:0.3vw 0.5vw;
  color:#FFF;
  position:absolute;
}
.btn:hover {
  cursor: pointer;
}
.btn:focus{
  outline:none;
}
.btn-next {
  top:50%;
  right:0;
}
.btn-prev {
  top:50%;
  left:0;
}
.carousel-slider {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}


.descr{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 17px 4px rgba(34, 60, 80, 0.2);
  padding: size(69, 1920);
  .logo{
    min-width: size(150, 1920);
    height: size(150, 1920);
    img{
      width: size(100, 1920);
    }
    @media (max-width: 756px){
      display: none;
    }
  }
  .text__block{
    padding: 0;
    margin: 0;
    height: size(210, 1920) !important;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: size(65, 1920);
    .title{
      font-family: 'Montserrat', sans-serif !important;
      font-weight:  600;
      font-size: size(48, 1920);
      margin-bottom: size(9, 1920);
      @media (max-width: 756px){
        text-align: center;
        font-size: size(30, 756);
      }
      @media (max-width: 480px){
        text-align: center;
        font-size: size(35, 480);
      }
    }
    .text{
      font-size: size(24, 1920);
      @media (max-width: 756px){
        text-align: center;
        font-size: size(20, 756);
        margin-top: size(25, 756);
      }
      @media (max-width: 480px){
        text-align: center;
        font-size: size(20, 480);
      }
    }
    @media (max-width: 756px){
      align-items: center;
    }
  }
  .img{
    width: 100%;

    width: 100%;
    height: 100%;
    img{
      width: 100%;

      height: 100%;
    }
  }
  @media (max-width: 756px){
    width: 100%;
    height: size(500, 756);
  }
  @media (max-width: 480px){
    height: size(400, 480);
  }
}

.top{
  display: flex;
  @media (max-width: 756px){
    width: 100%;
    height: 100%;
  }
}

.feedback{
  display: flex;
  justify-content: space-between;
  margin-top: size(100, 1920);
  box-shadow: 0px 0px 17px 4px rgba(34, 60, 80, 0.2);
  padding: size(69, 1920);
  .feedback__text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;

    .title{
      font-size: size(48, 1920);
      font-weight: 600;
      margin-bottom: size(0, 1920);
      @media (max-width: 756px){
        font-size: size(35, 756);
        text-align: center;
      }
      @media (max-width: 480px){
        font-size: size(35, 480);
        text-align: center;
      }
    }
    .text{
      font-size: size(24, 1920);
      text-align: justify;
      padding-right: size(30, 1920);
      @media (max-width: 756px){
        font-size: size(20, 756);
        margin-top: size(30, 756);
      }
      @media (max-width: 480px){
        font-size: size(20, 480);
        text-align: center;
      }
    }
    a{
      text-decoration: none;
      cursor: pointer;
      color: #0099FF;
      font-size: size(24, 1920);
      width: size(273, 1920);
      height: size(60, 1920);
      font-weight: 600;
      box-shadow: -2px 3px 20px -8px rgba(34, 60, 80, 0.6);
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      transition: .2s;
      &:hover{
        border: 1px solid #c2c2c2;
        transition: .2s;
      }
      &:active{
        border: 1px solid #c2c2c2;
        transition: .2s;
        background-color: #c2c2c2;
      }
      @media (max-width: 756px){
        width: size(273, 756);
        height: size(60, 756);
        font-size: size(24, 756);
        margin-top: size(25, 756);
      }
      @media (max-width: 480px){
        margin-top: size(40, 480);
        height: size(60, 480);
        width: size(270, 480);
        font-size: size(24, 480);
      }
    }
    @media (max-width: 756px){
      width: 100%;
      align-items: center;
    }

  }
  .img{
    img{
      width: size(708, 1920);
      @media (max-width: 756px){
        display: none;
      }
    }
  }
  @media (max-width: 756px){
    height: size(320, 756);
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 480px){
    height: size(400, 480);
  }
}

.form{
  margin-top: size(100, 1920);
  margin-bottom: size(100, 1920);
  box-shadow: 0px 0px 17px 4px rgba(34, 60, 80, 0.2);
  padding: size(69, 1920);

  width: 100%;
  .form__title{
    font-weight: 600;
    font-size: size(48, 1920);
    color: #0099FF;
    @media (max-width: 756px) {
      text-align: center;
      font-size: size(35, 756);
      margin-bottom: size(30, 756);
    }
    @media (max-width: 480px){
      font-size: size(30, 480);
    }
  }
  .form__items{
    display: flex;
    flex-direction: column;
    .error__text{
      color: red;
      margin-top: size(110, 1920);
      margin-bottom: size(-38, 1920);
      position: absolute;
      font-size: size(20, 1920);
      @media (max-width: 756px) {
        font-size: size(24, 756);
        margin-top: size(80, 756);
      }
      @media (max-width: 480px) {
        margin-top: size(95, 480);
      }
    }
    .mail{
      position: relative;
      outline: none;
      height: size(60, 1920);
      width: size(380, 1920);
      font-size: size(24, 1920);
      margin-top: size(40, 1920);
      padding:6px;
      @media (max-width: 756px) {
        width: 100%;
        height: size(50, 756);
        font-size: size(30 , 756);
      }
      @media (max-width: 480px){
        height: size(60, 480);
        font-size: size(30, 480);
      }
    }
    textarea{
      padding: 6px;
      width: 100%;
      margin-top: size(40, 1920);
      height: size(360, 1920);
      outline: none;
      font-size: size(24, 1920);
      @media (max-width: 756px) {
        width: 100%;
        font-size: size(30 , 756);
      }
      @media (max-width: 480px){
        height: size(180, 480);
        font-size: size(30, 480);
      }
    }
    .send__form{
      text-decoration: none;
      width: size(380, 1920);
      height: size(72, 1920);
      margin-top: size(40, 1920);
      font-size: size(24, 1920);
      outline: none;
      background-color: #0099FF;
      padding: 0;
      border: none;
      color: white;
      font-weight: 600;
      cursor: pointer;
      transition: .1s linear;
      &:hover{
        font-size: size(26, 1920);
        transition: .1s linear;
      }
      &:active{
        opacity: 70%;
      }
      @media (max-width: 756px) {
        margin-top: size(40, 756);
        width: size(420, 756);
        height: size(60, 756);
        font-size: size(33, 756);
      }
      @media (max-width: 480px){
        height: size(60, 480);
        width: size(400, 480);
        font-size: size(30, 480);
      }
    }
    .send{
      font-size: size(30, 1920);
      font-weight: 600;
      color: #18A0FB;
      margin-top: size(20, 756);
      @media (max-width: 756px) {
        align-items: center;
        font-size: size(50, 756);
        margin-top: size(40, 756);
      }
    }
    @media (max-width: 756px) {
      align-items: center;
    }
  }

  @media (max-width: 756px) {
    height: size(600, 756);
  }
  @media (max-width: 480px){
    height: size(570, 480);
  }


}
</style>