<template>
  <footer>
    <div class="footer__wrapper">
      <div class="container">
        <div class="wrapper">
          <div class="footer__logo">
            <a href="#">
              <div class="logo">
                <img src="../assets/temp/logo__footer.png" alt="">
              </div>
            </a>
          </div>
          <div class="footer__text">
              Если вам понравились наши работы - пишите нам на почту absasasb@mail.ru. Мы готовы к новым проектам          </div>
          <div class="footer__media">
            <a href="">
              <svg   viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.602722 17.0949C0.602722 25.5467 6.45178 32.5748 14.1016 34V21.7218H10.0519V17H14.1016V13.2218C14.1016 8.97175 16.7109 6.61158 20.4015 6.61158C21.5705 6.61158 22.8313 6.8 24.0003 6.98842V11.3333H21.9309C19.9506 11.3333 19.5011 12.3717 19.5011 13.6949V17H23.8208L23.1013 21.7218H19.5011V34C27.1509 32.5748 33 25.5482 33 17.0949C33 7.6925 25.7106 0 16.8013 0C7.8921 0 0.602722 7.6925 0.602722 17.0949Z" fill="black"/>
              </svg>
            </a>
            <a href="">
              <svg   viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.82177 0.102C11.5491 0.0185454 12.0999 0 16.5 0C20.9002 0 21.4509 0.0200909 23.1768 0.102C24.9027 0.183909 26.0808 0.472909 27.1116 0.891727C28.191 1.31982 29.1703 1.989 29.9802 2.85445C30.8049 3.70291 31.441 4.72909 31.8475 5.86345C32.248 6.94527 32.5219 8.18164 32.6015 9.98982C32.681 11.8057 32.6986 12.3837 32.6986 17C32.6986 21.6178 32.6795 22.1958 32.6015 24.0086C32.5234 25.8168 32.248 27.0532 31.8475 28.135C31.441 29.2695 30.8038 30.2974 29.9802 31.1471C29.1703 32.0125 28.191 32.6802 27.1116 33.1067C26.0808 33.5271 24.9027 33.8145 23.1797 33.898C21.4509 33.9815 20.9002 34 16.5 34C12.0999 34 11.5491 33.9799 9.82177 33.898C8.09882 33.8161 6.92074 33.5271 5.88992 33.1067C4.80891 32.6801 3.82948 32.0114 3.01982 31.1471C2.19572 30.2981 1.55798 29.2707 1.15108 28.1365C0.752008 27.0547 0.478104 25.8184 0.398583 24.0102C0.319063 22.1943 0.301392 21.6163 0.301392 17C0.301392 12.3822 0.320535 11.8042 0.398583 9.99291C0.476631 8.18164 0.752008 6.94527 1.15108 5.86345C1.55859 4.72922 2.19681 3.70185 3.02129 2.85291C3.82981 1.98823 4.80825 1.31896 5.88845 0.891727C6.91927 0.472909 8.09735 0.185455 9.82029 0.102H9.82177ZM23.0457 3.162C21.3375 3.08009 20.8251 3.06309 16.5 3.06309C12.175 3.06309 11.6625 3.08009 9.9543 3.162C8.3742 3.23773 7.51714 3.51436 6.94577 3.74773C6.19033 4.05682 5.64988 4.42309 5.08293 5.01809C4.5455 5.56681 4.1319 6.2348 3.87245 6.97309C3.65009 7.57273 3.38649 8.47218 3.31434 10.1305C3.23629 11.9232 3.22009 12.461 3.22009 17C3.22009 21.539 3.23629 22.0768 3.31434 23.8695C3.38649 25.5278 3.65009 26.4273 3.87245 27.0269C4.13163 27.7641 4.54543 28.4333 5.08293 28.9819C5.60571 29.546 6.24334 29.9803 6.94577 30.2523C7.51714 30.4856 8.3742 30.7623 9.9543 30.838C11.6625 30.9199 12.1735 30.9369 16.5 30.9369C20.8265 30.9369 21.3375 30.9199 23.0457 30.838C24.6258 30.7623 25.4829 30.4856 26.0543 30.2523C26.8097 29.9432 27.3502 29.5769 27.9171 28.9819C28.4546 28.4333 28.8684 27.7641 29.1276 27.0269C29.3499 26.4273 29.6135 25.5278 29.6857 23.8695C29.7638 22.0768 29.7799 21.539 29.7799 17C29.7799 12.461 29.7638 11.9232 29.6857 10.1305C29.6135 8.47218 29.3499 7.57273 29.1276 6.97309C28.8331 6.18027 28.4841 5.61309 27.9171 5.01809C27.3942 4.45411 26.7577 4.02005 26.0543 3.74773C25.4829 3.51436 24.6258 3.23773 23.0457 3.162ZM14.431 22.2406C15.5865 22.7454 16.8731 22.8136 18.0712 22.4334C19.2692 22.0532 20.3043 21.2483 20.9997 20.1562C21.6951 19.0641 22.0076 17.7524 21.8839 16.4453C21.7602 15.1383 21.2079 13.9168 20.3214 12.9895C19.7563 12.3968 19.073 11.943 18.3206 11.6607C17.5683 11.3784 16.7657 11.2746 15.9706 11.357C15.1755 11.4393 14.4077 11.7055 13.7224 12.1367C13.0371 12.5678 12.4515 13.153 12.0076 13.8501C11.5637 14.5473 11.2726 15.3391 11.1552 16.1685C11.0379 16.9979 11.0973 17.8443 11.329 18.6467C11.5608 19.4491 11.9592 20.1877 12.4956 20.8091C13.032 21.4306 13.693 21.9195 14.431 22.2406ZM10.6126 10.8213C11.3857 10.0099 12.3036 9.36623 13.3137 8.9271C14.3239 8.48798 15.4066 8.26196 16.5 8.26196C17.5934 8.26196 18.6761 8.48798 19.6863 8.9271C20.6965 9.36623 21.6143 10.0099 22.3875 10.8213C23.1606 11.6327 23.7739 12.5959 24.1924 13.6561C24.6108 14.7162 24.8262 15.8525 24.8262 17C24.8262 18.1475 24.6108 19.2838 24.1924 20.3439C23.7739 21.4041 23.1606 22.3673 22.3875 23.1787C20.826 24.8174 18.7082 25.738 16.5 25.738C14.2918 25.738 12.174 24.8174 10.6126 23.1787C9.0511 21.54 8.17389 19.3175 8.17389 17C8.17389 14.6825 9.0511 12.46 10.6126 10.8213ZM26.6728 9.56327C26.8644 9.3736 27.0177 9.14551 27.1238 8.8925C27.2299 8.6395 27.2866 8.36673 27.2904 8.09035C27.2942 7.81396 27.2452 7.53957 27.1462 7.28343C27.0472 7.02729 26.9002 6.79461 26.7139 6.59915C26.5277 6.4037 26.306 6.24944 26.0619 6.14553C25.8178 6.04161 25.5564 5.99014 25.293 5.99417C25.0297 5.9982 24.7698 6.05765 24.5287 6.16898C24.2876 6.28032 24.0703 6.44129 23.8895 6.64236C23.538 7.03341 23.3456 7.55282 23.3531 8.09035C23.3605 8.62787 23.5673 9.14118 23.9295 9.5213C24.2917 9.90143 24.7808 10.1184 25.293 10.1263C25.8052 10.1341 26.3001 9.93216 26.6728 9.56327Z" fill="black"/>
              </svg>
            </a>
            <a href="">
              <svg   viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M31.6544 1.94012C31.8808 1.21168 31.6544 0.67749 30.5842 0.67749H27.0386C26.1365 0.67749 25.7242 1.13962 25.4978 1.64718C25.4978 1.64718 23.6952 5.90661 21.1407 8.66842C20.3161 9.47205 19.9394 9.72583 19.49 9.72583C19.2653 9.72583 18.9387 9.47205 18.9387 8.74361V1.94012C18.9387 1.06599 18.6784 0.67749 17.9266 0.67749H12.3552C11.7926 0.67749 11.4531 1.08166 11.4531 1.46703C11.4531 2.29416 12.7303 2.48528 12.8613 4.81629V9.87309C12.8613 10.9806 12.656 11.1827 12.2033 11.1827C11.002 11.1827 8.07892 6.90763 6.34415 2.01375C6.00624 1.06286 5.66511 0.679057 4.75973 0.679057H1.2158C0.202095 0.679057 0 1.14119 0 1.64875C0 2.56047 1.20125 7.07211 5.59559 13.0391C8.52515 17.1136 12.6495 19.3225 16.4068 19.3225C18.659 19.3225 18.9371 18.8321 18.9371 17.9862V14.9064C18.9371 13.9257 19.1521 13.7283 19.8651 13.7283C20.3889 13.7283 21.291 13.9853 23.3944 15.9481C25.7969 18.276 26.1947 19.3209 27.5447 19.3209H31.0886C32.1007 19.3209 32.6067 18.8306 32.3157 17.8624C31.9972 16.899 30.8493 15.497 29.3263 13.838C28.4985 12.8918 27.2617 11.8736 26.885 11.3644C26.3596 10.7081 26.5115 10.4182 26.885 9.83549C26.8866 9.83706 31.205 3.94373 31.6544 1.94012Z" fill="black"/>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
@import "src/assets/styles.scss";
.footer__wrapper{
  width: 100%;
  height: size(120, 1920);
  display: flex;
  border-top: 1px solid gray;
}
.container {
  width: size(1500, 1920) !important;
  margin: auto;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  @media (max-width: 756px){
    flex-direction: column;
    align-items: center;
  }
  .footer__logo{
    width: size(50, 1920);
    height: size(50, 1920);
    margin-top: size(30, 1920);
    .wrapper{
      display: flex;
    }
    @media (max-width: 756px){
      width: size(90, 756);
      height: size(90, 756);
      display: none;
    }
    .logo{
      display: flex;
      img{
        width: size(40, 1920);
        margin-top: - size(20, 1920);
        @media (max-width: 756px){
          width: size(90, 756);
          height: size(90, 756);
          margin-top: size(13, 1920);
        }
      }
    }
  }
  .footer__text{
    color: gray;
    text-align: center;
    width: size(602, 1920);
    font-size: size(18, 1920);
    @media (max-width: 756px){
      width: 80%;
      font-size: size(18, 756);
      margin-top: size(150, 1920);
    }
    @media (max-width: 480px){
      width: 95%;
      font-size: size(18, 480);
    }
  }
  .footer__media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: size(200, 1920);
    @media (max-width: 756px){
      width: auto;
    }
    @media (max-width: 480px){
      width: 95%;
      font-size: size(18, 480);
      margin-top: size(10, 480);
    }
    a{
      svg{
        fill: #cecece !important;
        width: size(33, 1920);
        @media (max-width: 756px){
          width: size(48, 756);
          margin: size(20, 756);

        }
        @media (max-width: 480px){
          width: size(50, 480);
          font-size: size(18, 480);
        }
      }
    }
  }
}

</style>