<template>
  <div class="header">
    <Profile v-if="showModal" @close="showModal = false" />
    <div class="container">
      <div class="content-wrapper">
        <Burger />
        <div class="header__logo">
          <router-link to="/" >
            <img src="../assets/temp/Vector.png" alt="">
          </router-link>
        </div>
        <div class="header__nav">
          <ul class="nav__container">
            <li><router-link to="/">Главная</router-link></li>
            <li><router-link to="events">Мероприятия</router-link></li>
            <li><a @click="showModal = true" class="profile_a">Профиль</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Burger from "./Burger";
import Profile from "@/components/Profile.vue";
export default {
  name: "Header",
  components: {
    Burger, Profile
  },
  data(){
    return{
      showModal: false,
    }
  }
}
</script>

<style scoped lang="scss">
@import "../assets/styles";
.container {
  width: size(1500, 1920);
  margin: auto;
  @media (max-width: 756px){
    width: 100%;
  }
}
ul,li,a {
  text-decoration: none;
  font-size: size(24, 1920);
  color:white;
  font-family: 'Roboto', sans-serif;
}
li {
  margin-left: size(100, 1920)
}
ul{
  display: flex;
  justify-content: center;
}
.header{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: size(25, 1920);
}


.content-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav{
  display: flex;
  justify-content: end;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: size(877, 1920);
    margin-top: size(50, 1920);

    height: 2px;
    background-color: #18A0FB;

  }
  @media (max-width: 756px) {
    display: none;
  }
}

.profile_a{
  cursor: pointer;
}


//!!!media!!!
@media (max-width: 756px){
  ul,li,a{
    display:none;
  }
  .header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: #18A0FB;
    min-height: size(70, 756);
  }
  .logo__img {
    width: size(50, 756);
    height: size(50, 756);
    margin-left: size(100, 756);
  }

  .nav__container{
    width: size(960, 756);
    margin-left: auto;
  }
  .header__nav{
    border-bottom: 2px solid #18A0FB;
    height: size(62, 756);
  }

  .header__logo{
    img{
      margin-left: 20px;
      @media (max-width: 756px) {
        display: none;
      }
    }
  }
  ul:hover{
    color:red !important;
  }
}
</style>