<template>
    <transition name="modal"  >
        <div class="modal_mask">
          <div class="modal_wrapper">
            <div class="modal_container">

              <div class="modal_header">
                <slot name="header">
                    <h2 class="header_h2_modal">
                        {{ item.title }}
                    </h2> 
                    <div class="close" @click="scroll(),  $emit('close')"  >
                        X
                    </div>
                </slot>
              </div>

              <div class="modal_body">
                <slot name="body">
                    <div>
                        <img src="@/assets/temp/congress.png" class="img_modal">
                    </div>
                    <div class="inputs_modal_div">
                        <input type="text" class="input_modal" placeholder="Имя...">
                        <input type="text" class="input_modal" placeholder="Номер...">
                    </div>
                </slot>
              </div>

              <div class="modal_footer">
                <slot name="footer">
                 <p class="adress">
                   {{ item.adress }}
                 </p>
                  <div class="contenier_button">
                    <p class="price_button">{{ item.price }}</p>
                  <button class="modal-default-button" @click="$emit('close')">
                    Записаться
                  </button>
                  </div>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
</template>

<script>
export default {
  props: {
    item: {
      type: Object
    }
  },
  methods:{
        scroll(){
            if(document.documentElement.style.overflow = 'hidden'){
              document.documentElement.style.overflow = 'auto'
              return
            }
            
        } 
        
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles.scss";


.modal_mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal_wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal_container {
  width: size(980, 1920);
  margin: 0px auto;
  padding: size(31, 1920) size(71, 1920) size(66, 1920) size(71, 1920);
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family:  "Montserrat",sans-serif;
  @media (max-width: 756px){
    width: size(700,756);
    margin: 0px auto;
    padding: size(31, 756) size(71, 756) size(66, 756) size(71, 756);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family:  "Montserrat",sans-serif;
  }
}

.modal_header{
    text-align: center;
    position: relative;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.header_h2_modal{
    font-weight: 700;
    font-size: size(36, 1920);
  @media (max-width: 756px) {
    font-weight: 700;
    font-size: size(36, 756);

  }
}

.modal_body {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  @media(max-width: 756px){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.img_modal{
    width: size(400, 1920);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  @media (max-width: 756px){
    width: size(570, 756);
  }
    
}

.inputs_modal_div{
    display: flex;
    flex-direction: column;
}

.input_modal{
    width: size(390, 1920);
    height: size(50, 1920);
    border-radius: 0.3vw;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: size(25, 1920);
    font-size: size(25, 1920);
    padding-left: size(10, 1920);
  @media (max-width: 756px) {
    width: size(570, 756);
    height: size(70, 756);
    border-radius: 0.3vw;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: size(25, 756);
    font-size: size(25, 756);
    padding-left: size(10, 756);
  }
}

.adress, .price_button{
    font-size: size(24, 1920);

  @media (max-width: 756px) {
    font-size: size(24, 756) !important;
  }
}
.price_button{
    margin-right: size(25, 1920);
  @media (max-width: 756px) {
    margin-right: size(25, 756);
  }
}

.modal-default-button {
    float: right;
    width: size(180, 1920);
    height: size(50, 1920);
    text-decoration: none;
    font-size: size(24, 1920);
    outline: none;
    background-color: #0099FF;
    padding: 0;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
  @media(max-width: 756px){
    width: size(250, 756);
    height: size(60, 756);
    font-size: size(24, 756);
    background-color: #0099FF;

  }
}

.close{
  font-size:size(38, 1920);
  font-weight: 600;
  @media (max-width: 756px) {
    font-size:size(38, 756);

  }
}

.modal_enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenier_button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adress{
  font-size: size(24, 1920);
}


.modal_enter .modal_container,
.modal_leave-active .modal_container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>