<template>
    <transition name="modal"  >
        <div class="modal_mask">
          <div class="modal_wrapper">
            <div class="modal_container">
                <div class="close_container">
                    <p class="profile_head_p">
                        Авторизация
                    </p>
                    <div class="close" @click="$emit('close')">
                        X
                    </div>
                </div>

                <div class="inputs_modal_div">
                    <input type="text" class="input_modal" placeholder="Введите логин">
                    <input type="text" class="input_modal" placeholder="Введите пароль">
                </div>
                
                <div class="avtorizatiaon">
                    <button class="modal_default_button">
                        Авторизироваться
                    </button>
                </div>
                <div class="account_p_div">
                    <a href="">
                        <p class="account_p">
                            Создать аккаунт
                        </p>
                    </a>
                    <a href="">
                        <p class="account_p">
                            Забыли пароль?
                        </p>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </transition>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>
@import "src/assets/functions";

.modal_mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal_wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal_container {
    flex-direction: column;
    width: size(800, 1920);
    height: size(540, 1920);
    margin: 0 auto;
    padding: size(31, 1920) size(71, 1920) size(66, 1920) size(71, 1920);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family:  "Montserrat",sans-serif;
@media (max-width: 756px){
    width: size(600, 756);

  }
}

.modal_header{
    text-align: center;
    position: relative;
}

.profile_head_p{
    font-size: size(37, 1920);
    font-weight: 700;
}

.close_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close{
    cursor: pointer;
}

.header_h2_modal{
    font-weight: 700;
    font-size: size(36, 1920);
}

.modal_default_button {
    width: size(490, 1920);
    height: size(80, 1920);
    font-size: size(24, 1920);
    margin-left: size(17, 1920);
    outline: none;
    background-color: #0099FF;
    padding: 0;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: size(30, 1920);
}

.modal_default_button:hover{
    border: 1px black solid;
    transition: 0.2s;
    box-shadow: 0px 0px 17px 4px rgba(34, 60, 80, 0.2);
}

.modal_body {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}


.input_profile{
    box-shadow: 0px 0px 17px 4px rgba(34, 60, 80, 0.2);
    width: size(300, 1920);
    height: size(50, 1920);
    margin: 0 auto;
}

.img_modal{
    width: size(400, 1920);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    
}

.inputs_modal_div{
    margin: size(10, 1920);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.input_modal{
    width: size(490, 1920);
    height: size(50, 1920);
    border-radius: 0.3vw;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: size(50, 1920);
    font-size: size(25, 1920);
    outline: none;
}


.avtorizatiaon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: size(50, 1920);
    width: 100%;
}

.modal_enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.account_p_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: size(20, 1920);
}

.account_p{
    color: #0099FF;
    font-size: size(23, 1920);
    margin: size(10,1920);
}

.modal_enter .modal_container,
.modal_leave-active .modal_container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


@media (max-width: 756px){
    .modal_container{
        width: size(600, 756);
        height: size(370, 756);

    }

    .profile_head_p{
        font-size: size(30, 756)
    }

    .input_modal{
        width: size(400, 756);
        height: size(50, 756);
        font-size: size(20, 756);
    }

    .modal_default_button{
        width: size(400, 756);
        height: size(60, 756);
        font-size: size(25, 756)
    }

    .account_p{
        font-size: size(20, 756)
    }
}
</style>