<template>
<div class="app">
        <carousel >
                <carousel-slide v-for="slide in slides" :key="slide" class="carousel-slider">
                    <img :src="slide" :alt="slide">
                </carousel-slide>
            </carousel>
</div>
</template>

<script>
import Carousel from '@/components/carousel/Carousel.vue';
import CarouselSlide from '@/components/carousel/CarouselSlide';

export default {
    components:{
    Carousel : Carousel,
    CarouselSlide : CarouselSlide, 
  },
  data(){
        return {
            slides: [
                'https://i.dunya.com/2/1280/720/storage/old/files/2018/5/21/416431/416431.jpg',
                'https://special.krd.ru/uploads/cache/fancybox/0c/22/248663-6242c20f.jpg',
                'https://sales-generator.ru/upload/medialibrary/2fc/x2fcec6e7c4ed679cbdf3c2325eae3142.jpg.pagespeed.ic.KR_xa9JY1d.jpg',
                'https://www.firestock.ru/download/s/fbmysb957qepkjv/photodune-369552.jpg'
            ]
        }
    },
}
</script>

<style lang="scss" scoped>
@import "../assets/styles";
.app {
        display:flex;
        justify-content: center;
    }
    .carousel {
        position:relative;
        overflow: hidden;
        width: 100%;
        height: size(800, 1920);
        z-index:10;
    }
    .btn {
        padding:5px 10px;
        background-color:rgba(0,0,0,0.5);
        border:1px solid transparent;
        margin:5px 10px;
        color:#FFF;
        height:size(20, 1920) !important;
        width:size(20, 1920) !important;
        position:absolute;
        margin-top:-25px;
        z-index:2;
    }
    .btn:hover {
        cursor: pointer;
    }
    .btn:focus{
        outline:none;
    }
    .btn-next {
        top:50%;
        right:0;
    }
    .btn-prev {
        top:50%;
        left:0;
    }
    .carousel-slider {
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
    }
    .carousel-slider img {
        width:100%;
        height:100%;
    }

</style>