<template>
  <div id="app">

    <router-view/>
  </div>
</template>


<script>
import EventsPage from "./views/EventsPage";
import MainPage from "./views/MainPage";

export default {

  components:{
    EventsPage, MainPage
  }
}
</script>

<style lang="scss">
@import "src/assets/styles.scss";



.bm-burger-button{
  top: 2.1vw !important;
  width: size(50, 756)!important;
  height: size(36, 756) !important;
  margin-right: - size(90, 1920)

}
.line-style{
  background-color: white !important;
  height: 4px !important;
}


.app {
  display:flex;
  justify-content: center;
}
.carousel {
  position:relative;
  overflow: hidden;
  width:800px;
  height:500px;
  z-index:10;
}
.btn {
  padding:5px 10px;

  border:1px solid transparent;
  margin:5px 10px;
  color:#FFF;
  height:50px;
  width:50px;
  position:absolute;
  margin-top:-25px;
  z-index:2;
  @media (max-width: 756px) {
    background-color: unset;
  }
}
.btn:hover {
  cursor: pointer;
}
.btn:focus{
  outline:none;
}
.btn-next {
  top:50%;
  right:0;
}
.btn-prev {
  top:50%;
  left:0;
}
.carousel-slider {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.carousel-slider img {
  width:100%;
  height:100%;
}

.bm-cross{
  margin-top: 1.5vw;
  height: size(80, 1920)  !important;
   }

.bm-overlay{
  background: none !important;
}

</style>
